body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: #020617;
  padding: 40px;
  border-radius: 10px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #38bdf8;
  color: #020617;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
